#msgfield {
    background-color: #880000;
    color: white;
    padding: 10px;
    display: none;
    border: 1px solid black;
    text-align: center;
}

.charbutton {
    padding: 20px;
    background-color: aliceblue;
    color: black;
    border: none;
    text-align: center;
}

.charbuttonOn {
    padding: 20px;
    background-color: cadetblue;
    color: black;
}

.nextButton {
    float: left;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    background-color: aliceblue;
    border: none;
}

.formtext {
    font-size: 150%;
}